<template>
    <div>
        I'm in the shadow dom!
    </div>
</template>
<script>
(function() {
    var thatDoc = document;
    var thisDoc = (thatDoc._currentScript || thatDoc.currentScript).ownerDocument;
    var template = thisDoc.querySelector( 'template' ).content;

    class TestCmp extends HTMLElement {
        constructor() {
            super();
        }

        connectedCallback() {
            var shadowRoot = this.attachShadow({mode:'open'});

            // Adds a template clone into shadow root.
            var clone = thatDoc.importNode(template, true);
            shadowRoot.appendChild(clone);
        }
    }

    window.customElements.define("test-cmp", TestCmp);
})();
</script>
